.basket{
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 150px;
    justify-content: center;

}

.row {
    display: grid;
    grid-template-columns: 200px 3fr 1fr 1fr 7fr 1fr ;
    grid-gap: 10vh;

}
.title{

}
.img{
    max-width: 80%;
    justify-content: center;
    text-align: center;
}
.button_minus{
    border-radius: 50%;
    border-bottom-width: 10px;
    border-top-width: 10px;
    border-color: #8d08a2;
}
.button_plus{
    border-radius: 50%;
    border-bottom-width: 10px;
    border-top-width: 10px;
    border-color: #8d08a2;
}
.sum{
    font-weight: bold;
 }

.input{
    margin: 7px;
    width: 15px;
    border-radius: 100%;
    text-align: center;
}
/*.header_basket{*/
/*    display: grid;*/
/*    grid-template-areas: 'img1 name price currency count total';*/
/*    grid-template-columns: repeat(6,1fr);*/
/*}*/
tr{
    display: grid;
    grid-template-areas: 'img1 name price currency1 count';
    grid-template-columns: repeat(8,1fr);
    grid-gap: 80px;
}
.img1 {
    grid-area: img1;
}
.name {
    grid-area: name;
}
.price {
    grid-area: price;
}
.currency1 {
    grid-area: currency1;
}
.count {
    grid-area: count;
}
.total {
  display: grid;
    font-weight: bold;

}

/*.total {*/
/*    display: grid;*/
/*}*/

